/*全局樣式*/

* {
    text-decoration-line: none;
    background-color: dimgray;
}


/*最上頭標題樣式*/

.frist {
    color: brown;
    font-size: 30px;
}


/*第二標題樣式*/

.two {
    color: cornflowerblue;
    font-size: 30px;
}


/*表格樣式*/

.pen1 {
    color: blue;
    font-size: 20px;
}


/*第三標題樣式*/

.three {
    color: aquamarine;
    font-size: 30px;
}


/*刻意作的刪除線樣式*/

.other-1 {
    text-decoration: line-through;
}


/*超連結樣式 */

a {
    font-weight: bold;
    text-decoration: none;
}

a:link {
    color: red;
}

a:visited {
    color: green;
}

a:hover {
    color: #a700ff;
}

a:active {
    color: black;
}
